<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>


   <% include %>
   <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="navbar fa fa-bars"></i>
    </label>
    <label class="logo">Home</label>
    
    <ul class="navlist visibility">
     
      <li><a class="me-i" href="/project">Gallery</a></li>
      <li><a class="me-i" href="mailto:harshdixitofficial@gmail.com?subject = Feedback">Feedback</a></li>
      <li><a class="me-i" href="/login">Login</a></li>
    </ul>
  </nav>
<section class="main-sec">

    <section class="containerHead">
     
      <div class="slider-wrapper">
        <div class="slider">
          <% posts.reverse().forEach(function(elem){ %>
            <% if(elem.token=="slide"){ %>
          <img id="<%= elem._id %>"  src="https://drive.google.com/uc?id=1Oqp3kLrSLEW7jwusyYXB4ILW6GEWrwUa"/>
          <% } %>
          <% }) %>
        </div>
        <div class="slider-nav">
          <% posts.forEach(function(elem){ %>
            <% if(elem.token=="slide"){ %>
          <a href="#<%= elem._id %>"></a>
          <% } %>
         <% }) %>
        </div>
      </div>
    </section>





  <div class="update-section">
    
    
       <table class="record">
        <thead class="heading">
          <th>Updates</th>
          <th></th>
        </thead>    

        <% posts.forEach(function(elem){ %>
          <% if(elem.token =="update" && elem.description != ""){ %> 
<tbody> 
     <tr>
      <td data-label="Description"><output name="des"><b><%= elem.description %></b></output></td> 

        <% if(elem.link != ""){ %>
       <td data-label="View"> <a href="<%= elem.link %>"><b class="view">Visit</b></a></td>
        <% }else{ %>
          <td data-label="View"><b class="view"></b></td>

          <% } %>

      </tr>
      
    
</tbody>
      <% } %>
    <% }) %>

       </table>
    
  </div>
</section>
    <% include %>
  </body>
</html>
