*{
  margin: 0%;
  padding: 0%;
  }



body {
  height: 100%;
  width: 100%;
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.nav{

  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 padding-left: 2vh;
    
 
}
.navItem{
  padding-right: 2vh;
  display: flex;
 gap:3vh;
}
.sug{
  text-decoration: none;
  color: black;
}